In [1]:
import pyhdfs
import pandas as pd
import numpy as np
from tqdm import tqdm

In [23]:
# 讀取balance_sheet資料

df_income_sheet = pd.read_csv('date_income_sheet.csv')
df_income_sheet_1101 = df_income_sheet[df_income_sheet['公司代號']=='1101']
df_income_sheet_1101.head()

c:\users\big data\.virtualenvs\stock-oniro0rl\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,公司代號,公司名稱,營業收入,營業毛利（毛損）,未實現銷貨（損）益,已實現銷貨（損）益,營業費用,其他收益及費損淨額,營業外收入及支出,停業單位損益,合併前非屬共同控制股權損益,其他綜合損益（淨額）,合併前非屬共同控制股權綜合損益淨額,淨利（淨損）歸屬於共同控制下前手權益,淨利（淨損）歸屬於非控制權益,綜合損益總額歸屬於共同控制下前手權益,基本每股盈餘（元）,label
1219630,2013-01-01,1101,台泥,24114047.0,3123872.0,0.0,0.0,1097143.0,0.0,314060.0,0.0,0.0,1284445.0,0.0,0.0,586589.0,0.0,0.38,1.0
1219631,2013-01-02,1101,台泥,24114047.0,3123872.0,0.0,0.0,1097143.0,0.0,314060.0,0.0,0.0,1284445.0,0.0,0.0,586589.0,0.0,0.38,1.0
1219632,2013-01-03,1101,台泥,24114047.0,3123872.0,0.0,0.0,1097143.0,0.0,314060.0,0.0,0.0,1284445.0,0.0,0.0,586589.0,0.0,0.38,1.0
1219633,2013-01-04,1101,台泥,24114047.0,3123872.0,0.0,0.0,1097143.0,0.0,314060.0,0.0,0.0,1284445.0,0.0,0.0,586589.0,0.0,0.38,1.0
1219634,2013-01-05,1101,台泥,24114047.0,3123872.0,0.0,0.0,1097143.0,0.0,314060.0,0.0,0.0,1284445.0,0.0,0.0,586589.0,0.0,0.38,1.0

In [22]:
# 讀取balance_sheet資料

df_balance_sheet = pd.read_csv('date_balance_sheet.csv')
df_balance_sheet_1101 = df_balance_sheet[df_balance_sheet['公司代號']=='1101']
df_balance_sheet_1101

,date,公司代號,公司名稱,流動資產,非流動資產,非流動負債,資本公積,保留盈餘,其他權益,庫藏股票,共同控制下前手權益,合併前非屬共同控制股權,非控制權益,預收股款（權益項下）之約當發行股數（單位：股）,母公司暨子公司所持有之母公司庫藏股股數（單位：股）,每股參考淨值,label
1020758,2013-01-01,1101,台泥,77246355.0,195588878.0,61556516.0,12215684.0,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
1020759,2013-01-02,1101,台泥,77246355.0,195588878.0,61556516.0,12215684.0,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
1020760,2013-01-03,1101,台泥,77246355.0,195588878.0,61556516.0,12215684.0,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
1020761,2013-01-04,1101,台泥,77246355.0,195588878.0,61556516.0,12215684.0,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
1020762,2013-01-05,1101,台泥,77246355.0,195588878.0,61556516.0,12215684.0,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023310,2019-12-28,1101,台泥,118145990.0,249336395.0,92487775.0,48015947.0,65626033.0,23734855.0,-348959.0,0.0,0.0,14777799.0,0.0,8000000.0,34.23,1.0
1023311,2019-12-29,1101,台泥,118145990.0,249336395.0,92487775.0,48015947.0,65626033.0,23734855.0,-348959.0,0.0,0.0,14777799.0,0.0,8000000.0,34.23,1.0
1023312,2019-12-30,1101,台泥,118145990.0,249336395.0,92487775.0,48015947.0,65626033.0,23734855.0,-348959.0,0.0,0.0,14777799.0,0.0,8000000.0,34.23,1.0
1023313,2019-12-31,1101,台泥,118145990.0,249336395.0,92487775.0,48015947.0,65626033.0,23734855.0,-348959.0,0.0,0.0,14777799.0,0.0,8000000.0,34.23,1.0
1023314,2020-01-01,1101,台泥,98082786.0,261155840.0,87724983.0,48015947.0,68725701.0,19145877.0,-348959.0,0.0,0.0,15143365.0,0.0,8000000.0,33.97,1.0

In [16]:
# 讀取基本面資料

df_selected_stock = pd.read_csv('selected_stock.csv')
df_selected_stock['date'] = pd.to_datetime(df_selected_stock['date'], format='%Y/%m/%d').dt.strftime('%Y-%m-%d')
df_selected_stock.head()

,date,open,high,low,close,adj close,volume,slowk,slowd,macd,...,wma_25,sma_50,ema_50,wma_50,sma_60,ema_60,wma_60,sma_300,ema_300,wma_300
0,2000-01-04,17.805401,18.226801,17.805401,18.226801,7.236699,9.716852e+10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2000-01-05,17.858000,19.174999,17.858000,18.700899,7.424934,1.499260e+11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2000-01-06,18.542900,18.753599,17.752701,17.910700,7.111196,7.448073e+10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2000-01-07,17.173201,17.963400,16.857100,17.858000,7.090272,8.759947e+10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2000-01-10,17.910700,18.542900,17.647301,18.437500,7.320355,7.871879e+10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
print(df_selected_stock.shape)
print(df_balance_sheet_1101.shape)
print(df_income_sheet_1101.shape)

(5044, 34)
(2557, 17)
(2557, 19)

In [27]:
pd.merge(df_selected_stock,df_balance_sheet_1101, how="inner",on='date')

,date,open,high,low,close,adj close,volume,slowk,slowd,macd,...,保留盈餘,其他權益,庫藏股票,共同控制下前手權益,合併前非屬共同控制股權,非控制權益,預收股款（權益項下）之約當發行股數（單位：股）,母公司暨子公司所持有之母公司庫藏股股數（單位：股）,每股參考淨值,label
0,2013-01-02,33.089199,33.216702,32.834400,33.131699,22.067158,7486482.0,92.621368,83.725084,0.258639,...,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
1,2013-01-03,33.556499,33.556499,32.919300,33.004299,21.982302,11411000.0,88.792255,89.475395,0.260782,...,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
2,2013-01-04,33.471500,33.514000,32.791901,33.131699,22.067158,10185618.0,84.051963,88.488529,0.269652,...,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
3,2013-01-07,33.216702,33.216702,32.834400,33.046799,22.010611,5956226.0,77.987514,83.610577,0.266756,...,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
4,2013-01-08,33.046799,33.216702,32.452099,32.706902,21.784224,7568880.0,70.658520,77.565999,0.234333,...,45521147.0,13214330.0,0.0,0.0,0.0,37492778.0,0.0,0.0,29.22,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698,2019-12-25,43.000000,43.250000,42.900002,43.099998,43.099998,6263599.0,85.431033,89.610582,0.463239,...,65626033.0,23734855.0,-348959.0,0.0,0.0,14777799.0,0.0,8000000.0,34.23,1.0
1699,2019-12-26,43.150002,43.150002,42.900002,43.049999,43.049999,5645778.0,71.145284,82.204240,0.449654,...,65626033.0,23734855.0,-348959.0,0.0,0.0,14777799.0,0.0,8000000.0,34.23,1.0
1700,2019-12-27,43.099998,43.250000,43.000000,43.250000,43.250000,9708049.0,71.814159,76.130159,0.449841,...,65626033.0,23734855.0,-348959.0,0.0,0.0,14777799.0,0.0,8000000.0,34.23,1.0
1701,2019-12-30,43.349998,43.900002,43.299999,43.650002,43.650002,20828515.0,73.339761,72.099735,0.476770,...,65626033.0,23734855.0,-348959.0,0.0,0.0,14777799.0,0.0,8000000.0,34.23,1.0
1702,2019-12-31,43.650002,43.799999,43.500000,43.700001,43.700001,8465583.0,81.828389,75.660770,0.496423,...,65626033.0,23734855.0,-348959.0,0.0,0.0,14777799.0,0.0,8000000.0,34.23,1.0

In [30]:
# 合併所有資料

pd.concat([df_selected_stock,df_balance_sheet_1101], axis=1,join="inner")

Empty DataFrame
Columns: [date, open, high, low, close, adj close, volume, slowk, slowd, macd, macdsignal, macdhist, willr, upperband, middleband, lowerband, sma_5, ema_5, wma_5, sma_10, ema_10, wma_10, sma_25, ema_25, wma_25, sma_50, ema_50, wma_50, sma_60, ema_60, wma_60, sma_300, ema_300, wma_300, date, 公司代號, 公司名稱, 流動資產, 非流動資產, 非流動負債, 資本公積, 保留盈餘, 其他權益, 庫藏股票, 共同控制下前手權益, 合併前非屬共同控制股權, 非控制權益, 預收股款（權益項下）之約當發行股數（單位：股）, 母公司暨子公司所持有之母公司庫藏股股數（單位：股）, 每股參考淨值, label]
Index: []

[0 rows x 51 columns]

In [10]:
# pd.set_option("display.max_columns", None)
# df_combine.to_csv('1101_combine.csv',encoding='utf-8-sig')
# df_combine.head()